@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@400;500;700;900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Website */

:root {
  --primary-color: #0891b2;
  --font-color: #565656;
  --font-family-secondary: "Playfair Display", serif;
  --box-shadow-value: 10px 15px 10px 0 rgba(0, 0, 0, 0.3);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
}

.background-blue {
  background-color: var(--primary-color);
}

.content-width {
  max-width: 1280px;
  margin: 0 auto;
}

.hero-wrapper,
.projects,
.contact {
  padding: 2rem;
}

.heading {
  font-family: var(--font-family-secondary);
}

a {
  text-decoration: none;
}

i {
  font-size: 2rem;
}

/* Header section */

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-image {
  position: relative;
  float: none;
}

.hero-image img {
  margin: 0 0 0 auto;
  width: auto;
  max-height: 550px;
  object-fit: contain;
  border-radius: 25px;
  box-shadow: var(--box-shadow-value);
}

.hero-heading {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hero-image h1 {
  color: #fff;
  font-size: 3rem;
}

.hero-content {
  flex: 2;
  background-color: #fff;
  padding: 2rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: var(--box-shadow-value);
}

.hero-content__heading {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.hero-content__description {
  color: var(--font-color);
  font-size: 1.6rem;
}

.hero-content__socials {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

/* Main */

main {
  flex: 1;
}

.projects_heading {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.projects__card {
  border-radius: 25px;
  box-shadow: var(--box-shadow-value);
}

.projects__image-wrapper img {
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 25px 25px 0 0;
}

.projects__heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.projects__content-wrapper {
  padding: 1rem 1rem 4rem;
}

.projects__content-wrapper p {
  color: var(--font-color);
}

.projects__socials {
  display: flex;
  gap: 1rem;
}

.projects__socials svg {
  width: 32px;
  height: 32px;
}

@media (max-width: 1000px) {
  .hero-wrapper {
    display: block;
  }

  .hero-image {
    width: 40%;
    float: left;
    margin-right: 2rem;
  }

  .hero-image h1 {
    font-size: 1.5rem;
  }

  .hero-content {
    margin-top: 7rem;
    margin-left: 3rem;
    border-radius: 25px;
  }
}

@media (max-width: 600px) {
  .hero-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hero-image {
    width: 100%;
    float: none;
    margin: 0;
  }

  .hero-image img {
    margin: 0 auto;
    border-radius: 25px 25px 0 0;
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
  }

  .hero-image h1 {
    font-size: 1.5rem;
  }

  .hero-content {
    margin: 0;
    border-radius: 0 0 25px 25px;
  }

  .hero-content__heading {
    font-size: 1.25rem;
    text-align: center;
  }

  .hero-content__description {
    font-size: 1.15rem;
  }

  .hero-content__socials {
    justify-content: center;
  }
}
